<!doctype html>
<html>
    <head>
		
    <style>
    body {background-color: powderblue;}
    h1 {color: blue;}
	p {color: green;}
	</style>
	<body>
		<title>Twitter!</title>
		<h1>Knock-Off Twitter</h1>
		<strong>Enter your information here!</strong><br>
			<form action="/submit" method="post">
				Username:<br>
				<input type="text" name="username"><br>
				Tweet:<br>
				<input type="text" name="tweet"><br>
				<br>
				<input type="submit" value="Submit">
			</form>
		<p>lallalalallaallalalalalalalalalalalallalalalaa</p>
		<body>
	</head>
</html>